.item-carrito {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.descripcion-articulo-carrito {
    margin-right: 20px;
    flex: 1;
}

.cantidad-item-carrito {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid $color_azul-suave;
    height: 37px;
    width: 94.52;

    button {
        background-color: $color_azul-suave;
        border-radius: 0;
        padding: 0.3rem 0.7rem;

        &:hover {
            background-color: #d66cac;
        }
    }

    p {
        margin-top: 16px;
        padding: 0.2rem 0.7rem;
        @include texto(1rem);
    }
}